  .tall
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(0, 0, 0);
    background-color: orangered;
    font-size: 30px;
    font-weight: bold;
  }
  .o_O
  {
    float: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px rgb(0, 0, 0);
  }
  .copy_right_footer
  {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 2;
    text-align: center;
    color: orangered;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
  }
  .RT
  {
    box-shadow:5px 5px 5px rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
  }
 
canvas{
border:5px solid orangered;
border-radius: 20px;
box-shadow:5px 5px 5px black;
margin-top: 200px;
}

